@tailwind base;
@tailwind components;
@tailwind utilities;
#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  li{
    list-style-type: none;
  }
  .loading-bar {
    @apply fixed top-0 left-0 w-full h-1 bg-yellow-400;
    background: linear-gradient(90deg, #f3c614, #f3c614 50%, transparent 50%);
    background-size: 200% 200%;
    animation: loading 10S linear infinite;
    z-index: 9999;
}

@keyframes loading {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
